<table class="table table-success table-striped">
    <thead>
      <tr>
        <th  class="w-3" scope="col"></th>
        <th  class="w-3" scope="col"></th>
        <th scope="col">Nome</th>
        <th scope="col">Grupo</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td class="w-3"><i class="bi bi-pencil-fill cursor-poiter" (click)="editar()"></i></td>
        <td class="w-3"><i class="bi bi-trash-fill cursor-poiter" (click)="excluir()"></i></td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
    </tbody>
  </table>